@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.button {
    padding: 20px;
}

.button-conatiner {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;

}

h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 80px;
}

